.square {
  height: 150px;
  width: 50px;
  background-color: blueviolet;
  display: inline-block;
}
.square-2 {
  height: 200px;
  width: 300px;
  background-color: green;
  display: inline-block;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: skyblue;
  display: inline-block;
}

.container-2 {
  width: 100%;
  border: 5px dotted black;
  padding: 50px;
  box-sizing: border-box;
  margin-top: 25px;
}

.shadow {
  width: 100%;
  height: 200px;
  background-color: yellow;
}
